In [1]:
print("Alik Agarwala") # "Alik Agarwala" is a string

Alik Agarwala

In [2]:
print('Hello') # 'Hello' is a string

Hello

In [3]:
print("This is
      a multiline
      string") # This will give an error

SyntaxError: EOL while scanning string literal (673698306.py, line 1)

In [4]:
print('''This is
      a multiline
      string''') # This will work

This is
      a multiline
      string

In [5]:
my_str = "My string"
my_str

'My string'

In [6]:
name = "Alik Ji"
name[0] # 'A'

'A'

In [8]:
name = "Sayantana"
name[15] # IndexError: string index out of range

IndexError: string index out of range

In [9]:
my_str = "Alik Ji"
for i in my_str:
    print(i, end="") # Alik Ji

Alik Ji

In [10]:
# len function
my_str = "Alik Ji"
len(my_str) # 7

7

In [11]:
name = "Alik"
'A' in name # True

True

In [12]:
my_str = "I live at Kolkata"
"kolkata" in my_str # False

False

In [13]:
my_str = "I live at Kolkata"
if "Kolkata" in my_str:
    print("Yes")

Yes

In [14]:
temp = "I live at Kolkata"
temp.upper() # I LIVE AT KOLKATA

'I LIVE AT KOLKATA'

In [17]:
temp = "I live at Kolkata"
temp.lower() # i live at kolkata
temp # I live at Kolkata

'I live at Kolkata'

In [18]:
my_string = "I live at Kolkata"
l1 = my_string.split()
l1

['I', 'live', 'at', 'Kolkata']

In [20]:
temp = "first,second,third"
l1 = temp.split(',') # ['first', 'second', 'third']
l1

['first', 'second', 'third']

In [24]:
expected_answer = "n = 10"
submitted_answer = " n = 10 "
if expected_answer == submitted_answer.strip():
    print("Correct")
else:
    print("Incorrect")

Correct

In [25]:
my_str = 'abababababab'
my_str.replace('a', 'b') # 'bbbbbbbbbbb'

'bbbbbbbbbbbb'

In [26]:
my_str = 'abababababab'
my_str.replace('a', 'b')
my_str # 'abababababab'

'abababababab'

In [28]:
#string slicing (same as list slicing concept)
name = "Stephen"
name[0:3] # 'Ste'

'Ste'

In [29]:
s1 = "Alik "
s2 = "Agarwala"
s1 + s2 # 'Alik Agarwala'

'Alik Agarwala'

In [30]:
s1 = "Alik"
s2 = "Agarwala"
s1 + ' ' + s2 # 'Alik Agarwala'

'Alik Agarwala'

In [31]:
name = "Alik Agarwala"
name.find('A') # 0

0

In [32]:
name = "Alik Agarwala"
name.find('T') # -1

-1

In [33]:
name = "Alik Agarwala"
name.find("Alik") # 0

0

In [34]:
name = "Alik Agarwala"
name.find("Agarwala") # 5

5

In [35]:
name = "Alik Agarwala"
name.find("agarwala") # -1

-1