In [3]:
s = {"Avik", True, 3.4, 37, "Avik"}
s

{3.4, 37, 'Avik', True}

In [2]:
# unindexed
print(s[0]) # error as it is unindexed

TypeError: 'set' object is not subscriptable

In [4]:
for i in s:
    print(i)

Avik
True
3.4
37

In [5]:
s = {"Avik", True, 3.4, 37}
"Avik" in s # True

True

In [6]:
False in s # False

False

In [10]:
s = {1, 2, 3}
s.add(4)
s # {1, 2, 3, 4}

{1, 2, 3, 4}

In [12]:
s = {1, 2, 3}
s.update([4, 5, 6])
s

{1, 2, 3, 4, 5, 6}

In [14]:
s = {1, 2, 3}
s.update((4, 5, 6))
s

{1, 2, 3, 4, 5, 6}

In [16]:
s = {1, 2, 3}
s.update({4, 5, 6})
s

{1, 2, 3, 4, 5, 6}

In [18]:
s = {10, 30, 20}
s.remove(30) # removes the value 30
s # {10, 20}

{10, 20}

In [20]:
s = {10, 30, 20}
s.remove(5) # error as 5 is not in the set

KeyError: 5

In [22]:
s = {10, 30, 20}
s.discard(30) # removes the value 30
s # {10, 20}

{10, 20}

In [23]:
s = {10, 30, 20}
s.discard(5) # no error as 5 is not in the set
s # {10, 30, 20}

{10, 20, 30}

In [25]:
s = {10, 30, 20, 60, 80}
s.pop() # removes a random value
s

{10, 20, 30, 60}

In [26]:
s = {10, 30, 20, 60, 80}
s.clear() # removes all the values
s # blank set

set()

In [27]:
s = {10, 30, 20, 60, 80}
del s # deletes the set
s # error as the set is deleted

NameError: name 's' is not defined